{% extends 'base.html.twig' %}


{% block body %}

	{% for article in articles %}
		<article>
			<h2>{{ article.title }}</h2>
            <div>
                {# Catégorie: {{ article.categorie }} #}
                Categorie: Sport.
            </div>
			{% if article.image %}
				<img src="{{ article.image }}" alt="Image de l'article">
			{% endif %}
			<div class="summary">
				{{ article.summary }}
			</div>
			{% if article.modifiedAt %}
				<div class="metadata">
					Modifié le
					{{ article.modifiedAt | date('d/m/Y') }}
					à
					{{ article.modifiedAt | date('H:i') }}.
				</div>
			{% else %}
				<div class="metadata">
					Écrit le
					{{ article.createdAt | date('d/m/Y') }}
					à
					{{ article.createdAt | date('H:i') }}.
				</div>
			{% endif %}
            <a href="{{ path('app_blog_show', {'id': article.id }) }}" class="btn">Lire la suite</a>
		</article>
	{% endfor %}

{% endblock %}

