{% extends 'base.html.twig' %}


{% block body %}

	<article>
		<h2>{{ article.title }}</h2>
		<div>
			Catégorie:
			{{ article.category.title }}
		</div>
		{% if article.image %}
			<img src="{{ article.image }}" alt="Image de l'article">
		{% endif %}
		<div class="content">
			{{ article.content }}
		</div>
		{% if article.modifiedAt %}
			<div class="metadata">
				Modifié le
				{{ article.modifiedAt | date('d/m/Y') }}
				à
				{{ article.modifiedAt | date('H:i') }}.
			</div>
		{% endif %}
		{% if article.createdAt %}
			<div class="metadata">
				Écrit le
				{{ article.createdAt | date('d/m/Y') }}
				à
				{{ article.createdAt | date('H:i') }}.
			</div>
		{% endif %}
	</article>

	<section id="commentaires">
		{% if article.comments | length != 0 %}
			<h1>{{ article.comments | length }}
				commentaire{% if article.comments | length > 1 %}s{% endif %} :
			</h1>
		{% endif %}
		{% for comment in article.comments %}
			<div>
				<div>
					{{ comment.author }}
					<small>({{ comment.createdAt | date('d/m/Y à H:i') }})</small>
				</div>
				<div>
					{{ comment.content | raw }}
				</div>
			</div>
		{% endfor %}
	</section>

	{% if app.user %}
	<div class="formComment">

		{{ form_start(formComment) }}

		{{ form_row(formComment.content, { 'label': 'Commentaire', 'attr': { 'placeholder': 'Votre commentaire...' }}) }}

		<button type="submit">Commenter</button>

		{{ form_end(formComment) }}

	</div>
	{% else %}
	<div class="formComment">
		<p>Vous devez être connecté pour pouvoir commenter un article.</p>
	</div>
	{% endif %}


{% endblock %}

