<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blog Symfony
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/navbar.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<div class="topnav" id="myTopnav">
				<a href="{{ path('app_blog_home') }}" class="active">SymBlog
                    <i class="fas fa-house-user" aria-hidden="true"></i>
				</a>
				<a href="{{ path('app_blog') }}">Articles
                    <i class="fa fa-book"></i>
				</a>
				<a href="{{ path('app_blog_create') }}">Créer un article
                    <i class="fas fa-feather"></i>
				</a>
				<div class="right-lnk">
					<a href="{{ path('app_blog_home') }}">Login / Signup
				</a>
			</div>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fas fa-bars"></i>
			</a>
		</body>
	</html>
</div>
{% block body %}{% endblock %}
<script src="https://kit.fontawesome.com/3625a86a1c.js" crossorigin="anonymous"></script>
<script src="{{ asset('js/navbar.js') }}"></script>
{% block javascripts %}{% endblock %}</body></html></div></html>

