<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blog Symfony
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
		<div>
			{% block stylesheets %}{% endblock %}
		</div>
	</head>
	<body>
		<header>
			<nav>
				<a href="{{ path('app_blog') }}" class="nav-icon">
					<i class="fas fa-book fa-2xl"></i>
					<span>SymBlog</span>
				</a>

				<div class="main-navlinks">
					<button class="hamburger" type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<div class="navlinks-container">
						<a href="{{ path('app_blog') }}">
							<i class="fa-solid fa-house"></i>
							Accueil
						</a>
						<a href="{{ path('app_blog_create') }}">
							<i class="fa-solid fa-feather-pointed"></i>
							Créer un article
						</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_blog_category') }}">
								<i class="fa-solid fa-plus"></i>
								Créer une catégorie
							</a>
						{% endif %}
					</div>
				</div>

				<div class="nav-authentication">
					{% if app.user %}
						<a href="{{ path('app_security_logout') }}" class="user-icon">
							<i class="fas fa-sign-out-alt"></i>
						</a>
					{% else %}
						<a href="{{ path('app_security_login') }}" class="user-icon">
							<i class="fas fa-user fa-xl"></i>
						</a>
					{% endif %}
					<div class="sign-btns">
						{% if app.user %}
							<a href="{{ path("app_security_logout")}}">Déconnexion</a>
						{% else %}
							<a href="{{ path("app_security_login")}}">Connexion</a>
							<a href="{{ path("app_security_register")}}">Inscription</a>

						{% endif %}
					</div>
				</div>
			</nav>
		</header>

		{% block body %}{% endblock %}

		<script src=" https://kit.fontawesome.com/3625a86a1c.js" crossorigin=" anonymous"></script>
		<script src="{{ asset('js/navbar.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
