<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blog Symfony
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
		<div>
			{% block stylesheets %}{% endblock %}
		</div>
	</head>
	<body>
		<header>
			<nav class="topnav" id="myTopnav">
				<a href="{{ path('app_blog') }}" class="active">Articles
					<i class="fa fa-book"></i>
				</a>
				{% if app.user %}
					<a href="{{ path('app_blog_create') }}">Créer un article
						<i class="fas fa-feather"></i>
					</a>

					{% if is_granted('ROLE_ADMIN') %}
					<a>
						Options
						<i class="fas fa-cog"></i>
					</a>
					{% endif %}

					<div class="right-lnk">
						<a href="{{ path('app_security_logout') }}">Déconnexion
						</a>
					</div>

				{% else %}
					<div class="right-lnk">
						<a href="{{ path('app_security_login') }}">Connexion
						</a>
					</div>
				{% endif %}

				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i class="fas fa-bars"></i>
				</a>
			</nav>
		</header>

		<div class="content"> {% block body %}{% endblock %}
			</div>

			<script src="https://kit.fontawesome.com/3625a86a1c.js" crossorigin="anonymous"></script>
			<script src="{{ asset('js/navbar.js') }}"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>

